.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;
  @include font(400, 36px, 1.17, 0.03em);
  text-align: center;
  color: var(--secondary-text-color-dark);
}